// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  //My colors
  --clDanger: #d1495b;
  --clWarning: #edae49;
  --clLight: #70ad47;
  --clExtraLight: #c0f69d;
  --clPale: #fcfffd;
  --clSkin: #fdd088;
  --clMedlight: #139a43;
  --clPrimary: #116b26;
  --clMedDark: #115321;
  --clDarker: #184f19;
  --clExtraDark: #123213;
  --clShadow: #051401;
  --shadow: 6px 5px 13px 0px rgba(0,0,0,0.55);
  --sky: 143deg, rgb(196, 230, 247) 0%, rgba(255,255,255,1) 39%, rgb(194, 230, 248) 100%;

  //My styling 
  --stdMargin: 30px;
  --stdMarginSmall: 5px;
  --stdRadius: 10px;
  --stdPadding: 10px;
  --stdPaddingLrg: 15px;
  --stdFont: 'Merriweather'

  --ion-color-primary: #0b5d1e;
  --ion-color-primary-rgb: 32, 38, 95;
  --ion-color-primary-contrast: #ffffff; 
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #051401;
  --ion-color-primary-tint: #053b06;

  --ion-color-secondary: #45c3fd;
  --ion-color-secondary-rgb: 69, 195, 253;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #3dacdf;
  --ion-color-secondary-tint: #58c9fd;

  --ion-color-tertiary: #449dd8;
  --ion-color-tertiary-rgb: 68, 157, 216;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #3c8abe;
  --ion-color-tertiary-tint: #57a7dc;

  --ion-color-success: #4f8565;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #e7000a;
  --ion-color-danger-rgb: 231, 0, 10;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cb0009;
  --ion-color-danger-tint: #e91a23;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

// import fonts //

/*Merriweather*/
@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/Merriweather/Merriweather-Regular.ttf');
}

/*Bitter*/
@font-face {
  font-family: 'Bitter';
  src: url('../assets/fonts/Bitter/Bitter.ttf');
}
@font-face {
  font-family: 'Bitter';
  src: url('../assets/fonts/Bitter/Bitter-Italic.ttf');
  font-style: italic;
}


//------------------------ FORMS AND INPUTS ------------------------//

form {
  background-color: var(--clPale);
  border-radius: var(--stdRadius);
  padding: var(--stdPadding);
  padding-left: var(--stdPaddingLrg);
  padding-right: var(--stdPaddingLrg);
  margin: var(--stdMargin);
}


ion-button {
  color: var(--clPale);
  --background: var(--clPrimary);
  --border-radius: var(--stdRadius);
  --margin-top: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

input:nth-last-child(1) {
  margin-bottom: var(--stdMarginSmall);
}

.submitButtonWrapper {
  padding-top: 20px;
}


ion-input:focus {
  border-color: var(--clExtraLight);
  outline: 0;
  box-shadow: inset 0 1px rgba(0,0,0,.075), 2px 2px 4px rgba(97, 111, 123, 0.6);
}

.native-input.sc-ion-input-md {
  padding-bottom: 0;
}

label {
  display: inline-block;
  width: 30%;
  margin-bottom: var(--stdMarginSmall);
  font-family: var(--stdFont);
  padding-left: var(--stdPadding);
}

//------------------------ HEADINGS AND TEXT ------------------------//

h1, h2 {
  font-family: 'Merriweather';
}

p, input, label {
  font-family: 'Bitter';
}

label {
  font-weight: 500;
}


#error-msg {
  color: var(--clDanger);
  text-align: center;
  margin: 0;
  font-weight: bold;
  height: 19.2px;
}

//------------------------------------------------------------------//