// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  /*My colors*/
  --clDanger: #d1495b;
  --clWarning: #edae49;
  --clLight: #b2e692;
  --clExtraLight: #e9ffe2;
  --clPrimary: #9bca7d;
  --clDarkPrimary: #407022;

  /*My styling */
  --stdMargin: 30px;
  --stdMarginSmall: 5px;
  --stdRadius: 10px;
  --stdPadding: 10px;
  --stdPaddingLrg: 15px;
  --stdFont: 'Imprima';

  --ion-color-primary: var(--clDarkPrimary);
  --ion-color-primary-rgb: 32, 38, 95;
  --ion-color-primary-contrast: #ffffff; 
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #051401;
  --ion-color-primary-tint: #053b06;

  --ion-color-secondary: #45c3fd;
  --ion-color-secondary-rgb: 69, 195, 253;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #3dacdf;
  --ion-color-secondary-tint: #58c9fd;

  --ion-color-tertiary: #449dd8;
  --ion-color-tertiary-rgb: 68, 157, 216;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #3c8abe;
  --ion-color-tertiary-tint: #57a7dc;

  --ion-color-success: var(--clPrimary);
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #e7000a;
  --ion-color-danger-rgb: 231, 0, 10;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cb0009;
  --ion-color-danger-tint: #e91a23;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/* import fonts */

/*Merriweather*/
@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/Merriweather/Merriweather-Regular.ttf');
}

/*Imprima*/
@font-face {
  font-family: 'Imprima';
  src: url('../assets/fonts/Imprima/Imprima-Regular.ttf');
}

/*Bitter*/
@font-face {
  font-family: 'Bitter';
  src: url('../assets/fonts/Bitter/Bitter.ttf');
}
@font-face {
  font-family: 'Bitter';
  src: url('../assets/fonts/Bitter/Bitter-Italic.ttf');
  font-style: italic;
}


/*------------------------ FORMS AND INPUTS ------------------------*/

ion-button {
  --background: var(--clLight) !important;
  --border-radius: 10px;
  --padding-top: 0px;
  font-size: 1.5rem;
  height: 55px;
  font-family: var(--stdFont)
}

ion-input {
  font-family: var(--stdFont) !important;
  font-size: 1.5rem !important;
}

ion-input{
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  border: none !important;
  box-shadow: none !important;

  --padding-bottom: 8px;
  --padding-end: 8px;
  --padding-start: 8px;
  --padding-top: 8px;
}

form {
  background-color: none;
}

.google {
  --background: var(--clLight) !important;
}

input:nth-last-child(1) {
  margin-bottom: var(--stdMarginSmall);
}

.submitButtonWrapper {
  padding-top: 20px;
}

.native-input.sc-ion-input-md {
  padding-bottom: 0;
}

label {
  display: inline-block;
  width: 30%;
  margin-bottom: var(--stdMarginSmall);
  font-family: var(--stdFont);
  padding-left: var(--stdPadding);
}

/*------------------------ HEADINGS AND TEXT ------------------------*/

h1, h2 {
  font-family: var(--stdFont);
}

p, input, label {
  font-family: 'Bitter';
}

label {
  font-weight: 500;
}


#error-msg {
  color: var(--clDanger);
  text-align: center;
  margin: 0;
  font-weight: bold;
  height: 19.2px;
}

/*------------------------------------------------------------------*/